<!-- BONUS PART B -->
<h3>Satellite Counts:</h3>
<div class="counts">
    <div>Total: <span>{{satellites.length}}</span></div>
    <div>Space Debris: <span>{{totalSpaceDebris()}}</span></div>
    <div>Communication: <span>{{totalCommunication()}}</span></div>
    <div>Probe: <span>{{totalProbe()}}</span></div>
    <div>Positioning: <span>{{totalPositioning()}}</span></div>
    <div>Space Station: <span>{{totalSpaceStation()}}</span></div>
    <div>Telescope: <span>{{totalTelescope()}}</span></div>
</div>